.text {
    text-align: center;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    background: #F7CFE4;
    background: linear-gradient(to right, #ff9acc 20%, #f8c6e0 30%, #f8d2e6 70%, #fce4f5 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textAnimate 3s ease-in-out infinite alternate;
}

@keyframes textAnimate {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}