.section {
    width: 1620px;
}

.section h3 {
    font-size: 32px;
    font-weight: 600;
}

.section h4 {
    font-size: 24px;
    font-weight: 600;
}

.section li {
    font-size: 24px;
    margin: 10px 0;
}