.footerSectionContainer {
    margin-top: 242px;
    margin-bottom: 242px;
}

.footerTitle p {
    font-size: 48px;
    font-weight: 900;
}

.socialsWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.socialsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socialsLogo {
    position: relative;
    width: 142px;
    height: 145px;
}

@media only screen and (max-width: 1440px) {
    .footerTitle p {
        font-size: 32px;
    }

    .socialsLogo {
        width: 102px;
        height: 105px;
    }

    .socialsWrapper {
        margin-top: -25px;
    }

}