.paletteImgWrapper {
    position: relative;
    width: 1620px;
    height: 549px;
}

.pageDesignContainer {
    padding: 100px 0;
    width: 100%;
}

.pageDesignTitle {
    align-self: flex-start;
    font-weight: 600;
    font-size: 32px;
}

.pageDesignImg {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.pageDesignImg img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imgLogoWrapper {
    position: relative;
    width: 124px;
    height: 124px;
}

.imgArtWrapper {
    position: relative;
    width: 737px;
    height: 572px;
}


@media only screen and (max-width: 1720px) {
    .imgArtWrapper {
        width: 603px;
        height: 496px;
    }

    .paletteImgWrapper {
        width: 1277px;
        height: 439px;
    }

    .pageDesignTitle {
        font-size: 24px;
    }

    .imgLogoWrapper {
        width: 114px;
        height: 114px;
    }
}

@media only screen and (max-width: 1440px) {
    .imgArtWrapper {
        width: 471px;
        height: 388px;
    }

    .imgLogoWrapper {
        width: 88px;
        height: 88px;
    }


    .paletteImgWrapper {
        width: 1118px;
        height: 385px;
    }

    .pageDesignTitle {
        font-size: 20px;
    }
}