.sectionContainer {
    margin-top: 20vh;
}

.sectionTitle p {
    font-size: 85px;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 100;
}

@keyframes textAnimate {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.featuredProjectsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectContainer {
    z-index: 299;
    margin-top: 30%;
}

.projectCardImgArtContainer {
    position: relative;
    z-index: 20;
}

.projectCardImgArtContainer.hidden {
    opacity: 0;
}

.projectCardImgArtContainer.animate__slide_in_bl img {
    -webkit-animation: slide-in-blurred-bl 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both, erratic-floating 2s 1.5s infinite ease-in-out;
    animation: slide-in-blurred-bl 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both, erratic-floating 2s 1.5s infinite ease-in-out;
}

.projectCardImgArtContainer.animate__slide_in_skew img {
    -webkit-animation: slide-in-blurred-skew 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    animation: slide-in-blurred-skew 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.projectCardImgArtContainer.glitch-in img {
    -webkit-animation: flicker-in 1.5s linear;
    animation: flicker-in 1.5s linear;
}

@keyframes slide-in-blurred-bl {
    0% {
        -webkit-transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
        transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-skew {
    0% {
        transform: translateX(1000px) skew(-80deg, -10deg) scale(1, 0.5);
        ;
        filter: blur(40px);
        opacity: 0;
    }

    50% {
        transform: translateX(0) skew(20deg, 0deg) scale(1, 1);
        filter: blur(0px);
        opacity: 1;
    }

    70% {
        transform: translateX(0) skew(-20deg, 0deg) scale(1, 1);
    }

    100% {
        transform: translateX(0) skew(0deg, 0deg) scale(1, 1);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes flicker-in {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    10.1% {
        opacity: 1;
    }

    10.2% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    20.1% {
        opacity: 1;
    }

    20.6% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    30.1% {
        opacity: 1;
    }

    30.5% {
        opacity: 1;
    }

    30.6% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    45.1% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    55.1% {
        opacity: 0;
    }

    57% {
        opacity: 0;
    }

    57.1% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    60.1% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    65.1% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    75.1% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    77.1% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    85.1% {
        opacity: 0;
    }

    86% {
        opacity: 0;
    }

    86.1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes erratic-floating {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 13px);
    }

    50% {
        transform: translate(12px, -5px);
    }

    75% {
        transform: translate(5px, 2px);
    }
}


.projectCard {
    width: 100%;
    border-radius: 45px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.2px);
    -webkit-backdrop-filter: blur(15.2px);
    border: 4px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    color: white;
    display: flex;
}

.projectInfo {
    height: 100%;
    margin: 32px 0;
}

.projectCardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectCardHeader p {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

.projectCardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 64px;
}

.projectCardBody p {
    font-size: 24px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 34px;
}

.projectCardImgContainer {
    width: 50%;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.featuredProjectImg1 {
    width: 489px;
    height: 422px;
}

.featuredProjectImg2 {
    width: 490px;
    height: 383px;
}

.featuredProjectImg3 {
    width: 489px;
    height: 422px;
}

.artContainer1 {
    width: 326px;
    height: 258px;
}

.artContainer2 {
    width: 125px;
    height: 124px;
}

.artContainer3 {
    width: 141px;
    height: 108px;
}

.featuredProjLogo1 {
    width: 128px;
    height: 128px;
}

.featuredProjLogo2 {
    width: 356px;
    height: 50px;
}

.featuredProjLogo3 {
    width: 128px;
    height: 128px;
}

.featuredProjectImgLg1 {
    width: 938px;
    height: 890px;
}

@media only screen and (max-width: 1440px) {
    .featuredProjectImgLg1 {
        width: 838px;
        height: 690px;
        margin-top: -25vh;
    }
}

@media only screen and (max-width: 1600px) {
    .projectContainer {
        max-width: 1179px;
    }

    .projectCardHeader p {
        font-size: 27px;
    }

    .projectCardBody p {
        font-size: 20px;
    }

    .artContainer1 {
        margin-top: 180px;
        width: 297px;
        height: 186px;
    }

    .artContainer2 {
        margin-top: 180px;
        width: 78px;
        height: 78px;
    }

    .artContainer3 {
        margin-top: -180px;
        margin-right: -180px;
    }
}

@media only screen and (max-width: 1440px) {
    .projectContainer {
        max-width: 988px;
    }

    .projectCardBody p {
        line-height: 24px;
    }

    .projectInfo {
        margin: 0 0 32px 10px;
    }

    .projectCardImgContainer {
        width: 40%;
    }

    .projectCardImgContainer {
        padding: 44px;
    }

    .featuredProjectImg1 {
        width: 435px;
        height: 375px;
    }

    .featuredProjectImg2 {
        width: 468px;
        height: 366px;
    }

    .featuredProjectImg3 {
        width: 435px;
        height: 375px;
    }

    .artContainer1 {
        margin-top: -120px;
    }

    .artContainer2 {
        margin-top: -120px;
    }
}

@media only screen and (max-width: 1280px) {
    .sectionTitle p {
        font-size: 56px;
    }

    .featuredProjLogo1 {
        width: 106px;
        height: 106px;
    }

    .featuredProjLogo2 {
        width: 326px;
        height: 43px;
    }

    .featuredProjLogo3 {
        width: 106px;
        height: 106px;
    }

    .projectCardHeader p {
        font-size: 24px;
    }

    .projectCardBody p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1144px) {
    .projectContainer {
        max-width: 526px;
    }

    .projectCard {
        flex-direction: column-reverse !important;
    }

    .projectCardImgContainer {
        width: auto;
        padding: 57px 70px;
    }

    .featuredProjectImg1 {
        width: 346px;
        height: 299px;
    }

    .featuredProjectImg2 {
        width: 376px;
        height: 294px;
    }

    .featuredProjectImg3 {
        width: 401px;
        height: 346px;
    }

    .featuredProjLogo1 {
        width: 140px;
        height: 140px;
    }

    .featuredProjLogo2 {
        width: 305px;
        height: 44px;
        margin-top: 32px;
    }

    .featuredProjLogo3 {
        width: 140px;
        height: 140px;
    }

    .projectCardBody {
        padding: 0 15px;
    }

    .projectCardBody p {
        padding: 0 15px;
    }
}