.main {
    height: 107px;
    width: 100%;
    z-index: 999;
    position: fixed;
    transition: 0.4s ease-in;
}

.scrolled {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(248, 197, 212, 0.15);
    backdrop-filter: blur(15.2px);
    -webkit-backdrop-filter: blur(15.2px);
}

.navbarContainer {
    padding: 31px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer svg {
    width: 45px;
    height: 45px;
    transition: 0.6s ease-in;
}

.navbarLinks {
    display: grid;
    grid: auto / auto auto auto auto;
    grid-gap: 55px;
}

.navbarLinks a {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition: 0.4s ease-in;
    display: inline-block;
    position: relative;
    /* Add this */
}

.navbarLinks a:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s;
    width: 0;
    left: 0;
    bottom: -5px;
}

.navbarLinks a:hover:after {
    width: 100%;
}

.navbarHamburgerMenu {
    display: none;
}

@media only screen and (max-width: 834px) {
    .main {
        height: 107px;
        width: 100vw;
    }

    .navbarLinks {
        display: none;
    }

    .navbarHamburgerMenu {
        display: block;
    }
}

.dropdownBtn {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}