.imgArtWrapper1 {
    width: 1142px;
    height: 1971px;
    position: relative;
    margin: 100px 0;
}

.imgHeroWrapper {
    width: 744px;
    height: 601px;
    position: relative;
}

.imgLogoWrapper {
    position: relative;
    width: 350px;
    height: 50px;
}

.sectionSubHeader {
    margin-top: 100px;
    font-size: 32px;
    font-weight: 600;
}

.carousel {
    margin: 100px 0;
    max-width: 1442px;
    --slide-height: 824px;
    --slide-spacing: 1rem;
    --slide-size: 1142px;
}

.carouselViewport {
    overflow: hidden;
}

.carouselContainer {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.carouselSlide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}

.imgArtWrapper2 {
    width: 1142px;
    height: 824px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
}

@media only screen and (max-width: 1720px) {
    .imgLogoWrapper {
        width: 310px;
        height: 44px;
    }

    .imgHeroWrapper {
        width: 551px;
        height: 445px;
    }

    .imgArtWrapper1 {
        width: 977px;
        height: 1502px;
    }

    .carousel {
        max-width: 1224px;
        --slide-height: 565px;
        --slide-spacing: 1rem;
        --slide-size: 997px;
    }

    .imgArtWrapper2 {
        width: 997px;
        height: 565px;
    }
}

@media only screen and (max-width: 1440px) {
    .imgLogoWrapper {
        width: 254px;
        height: 36px;
    }

    .imgHeroWrapper {
        width: 471px;
        height: 388px;
    }

    .imgArtWrapper1 {
        width: 810px;
        height: 1243px;
    }

    .carousel {
        max-width: 1032px;
        --slide-height: 471px;
        --slide-spacing: 1rem;
        --slide-size: 832px;
    }

    .imgArtWrapper2 {
        width: 832px;
        height: 471px;
    }
}